#logo {
    display: flex;
    justify-content: center;
    background-color: #ebebeb;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

body{
    width: 70%;
    float: right;
    text-align: justify;
    margin-right: 15%;
}

#promocoes {
    display: flex;
    padding-left: 15px;
    border: 3px solid gray;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 10%;
    border-radius: 15px;
    text-align: justify;
}

h2{
    font-weight: bolder;
    color: #004AAD;
    text-transform: uppercase;
    padding-right: 10px;
}

#promocoes .promo{
    font-weight: bold;
    margin-left: 5px;
    font-size: 20px;
}

*{
    background-color: #ebebeb;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#servicos{
    display: flex;
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 10%;
    margin-bottom: 100%;
    border: 2px solid gray;
    border-radius: 15px;
}

.produtos{
    margin-top: 2%;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 2%;
    padding: 30px;
    text-align: center;
    border: 3px solid gray;
    border-radius: 15px;
}

#servicos img{
    border: 1px solid blue;
    border-radius: 15px;
}

.rodape{
border-top: 1px solid black;
padding-top: 2%;
}

.rodape a{
    display: flex;
    justify-content: center;
    font-size: 20px;
}

a img{ 
    width: 50px;
    height: 50px;
    }

.links{
    margin-left: 5%;
    float: left;
}

.contatos{
    margin-left: 30%;
    float: left;
}

.facebook{
    margin-right: 2%;
    margin-bottom: 30px;
    float: right;
}

.instagram{
    margin-right: 5%;
    float: right;
}

nav{
    
    width: 20%;
    margin: 0;
    padding: 0;
    float: left;
    margin-right: 10px;
}

nav ul li{
    margin: 0;
    padding: 0;
    border: 1px solid #CCC;
    text-align: left;
    list-style-type: none;
}

nav a:link{
    background: #f5f5f5;
    color: #004AAD;
    font-weight: bold;
    text-decoration: none;
    padding: 7px;
    display: block;
}

nav a:hover{
    background: #6da5f3;
}